<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div
                        class="card-header"
                        data-background-color="red"
                    >
                        <h4 class="title">Your Table User List</h4>
                        <p class="category">List of user created</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-danger" *ngFor="let column of fields">{{column}}</th>
                                    <th class="text-info" *ngIf="load">edit</th>
                                    <th class="text-info" *ngIf="load">delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of users">
                                    <td *ngFor="let field of fields">{{user[field]}}</td>
                                    <td>
                                        <button
                                            class="btn btn-sm btn-primary"
                                            type="button"
                                            (click)="editUser(user.id)"
                                            disabled
                                        >
                                            <em class="fa fa-pencil"></em>
                                        </button>
                                    </td>
                                    <td>
                                        <button
                                            class="btn btn-sm btn-danger"
                                            type="button"
                                            (click)="deleteUser(user.id)"
                                        >
                                            <em class="fa fa-trash-o"></em>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="card card-plain">
                    <div
                        class="card-header"
                        data-background-color="red"
                    >
                        <h4 class="title">Table on Plain Background</h4>
                        <p class="category">Here is a subtitle for this table</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Salary</th>
                                    <th>Country</th>
                                    <th>City</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Dakota Rice</td>
                                    <td>$36,738</td>
                                    <td>Niger</td>
                                    <td class="text-danger">Oud-Turnhout</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Minerva Hooper</td>
                                    <td>$23,789</td>
                                    <td>Curaçao</td>
                                    <td class="text-danger">Sinaai-Waas</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
