<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{type}} Profile</h4>
                        <p class="card-category">Complete your profile</p>
                    </div>
                    <div class="card-body">
                        <form #f="ngForm" (ngSubmit)="manageUser()">
                            <div class="row">
                                <div class="col-md-5">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Id" required [disabled]="disableId" name="id" [(ngModel)]="user.id">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Username" required name="username" [(ngModel)]="user.username">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Email address" type="email" name="email" [(ngModel)]="user.email">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="First Name" type="text" required name="firstname" [(ngModel)]="user.firstname">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Last Name" type="text" required name="lastname" [(ngModel)]="user.lastname">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Adress (disabled)</label>
                                        <input type="text" class="form-control" disabled>
                                    </div>
                                </div>
                            </div>

                            <button mat-raised-button type="submit" class="btn btn-danger pull-right" [disabled]="!f.valid">
                                {{type}} User
                            </button>
                            <div class="clearfix"></div>
                            <p>
                                <small style="color:red">* Mandatory fields</small>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="https://github.com/amanganiello90">
                            <img class="img" src="./assets/img/faces/marc.jpg">
                        </a>
                    </div>

                    <div class="card-body">
                        <h6 class="category text-gray">Full Stack Software Engineer</h6>
                        <h4 class="card-title">Angelo Manganiello</h4>
                        <p class="card-content">
                            Java Software Engineering. Full stack, mobile developer and designer. DevOps and software lifecycle tools expert (Maven plugin,
                            spring, npm, yarn, node) .
                        </p>
                        <a href="https://github.com/amanganiello90" class="btn btn-danger btn-round">
                            Follow
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>